:root {
    --black: rgb(19, 19, 19);
    --white: rgb(255, 255, 255);
    --gray: rgb(104, 104, 104);
    --background: #274C77;
    --back_light: #6096BA;
    --oppositeback: #D81159;
    --footerwhite: rgb(228, 228, 228);
}

/* ____________________________________________ Container */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
}
/*hope this is now fixed and works as it should, now with mobile-first approach*/
@media screen and (min-width: 910px){
    .container{max-width: 900px;
        padding: 0;
    }    
}

@media screen and (min-width: 1100px){
    .container{max-width: 991px;
        padding: 0;
    }
}
@media screen and (min-width: 1300px){
    .container{max-width: 1200px;
        padding: 0;
    }
}

/* ____________________________________________ Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--background);
}
.header__logo {
    font-family: 'Lilita One', cursive;
    font-size: 50px;
    color: var(--white);
}
.header__inner {
    margin: 12px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: right;
    background-color: var(--background);
    width: 100%;
}
.nav__items {
    text-transform: uppercase;
    display: grid;
    gap: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.nav__item {
    display: inline-block;
    transition: .3s linear;
    color: var(--white);
}
.nav__item::after {
    content: "";
    display: block;
    margin-top: 3px;
    width: 0%;
    height: 3px;
    background-color: var(--white);

    transition: .3s linear;
}
.nav__item:hover::after {
    width: 100%;
}
.header__nav {
    width: auto;
    display: grid;
    grid-template-columns: 85% 15%;
    gap: 50px;
}

/* ____________________________________________ Search button */
.search-btn__img {
    width: 20px;
}
.search-block {
    display: none;
    position: absolute;
    top: 100%; /* it will be after our .header block */
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    text-align: center;
    background-color: var(--background);
    border-top: 1px solid var(--oppositeback);
    z-index: 999;
}
.search-block__field {
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
}
.search-block__btn {
    display:inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--oppositeback);
    border: 1px solid var(--background);

    transition: all 0.3s linear;
}
.search-block__btn:hover {
    background-color: var(--white);
    border: 1px solid var(--background);
}

#search-btn__toggle {
    display: none;
}
#search-btn__toggle:checked ~ .search-block {
    display: block;
}

@media (min-width: 779px) {
    .search-block {
        height: auto;
    }
    .search-block__btn {
        margin-top: 0px;
    }
}

/* ____________________________________________ Menu/Burger */
.nav__burger {
    background-color: var(--black);
    display: block;
    height: 3px;
    width: 25px;
    position: relative;
}
.nav__burger::after,
.nav__burger::before {
    content: "";
    background-color: var(--black);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}
.nav__burger::after {
    top: 5px;
}
.nav__burger::before {
    top: -5px;
}
.nav-toggle__label {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    border: 1px black;
    align-items: center;
    margin-right: 30px;
}

#nav-toggle {
    display: none;
}
#nav-toggle:checked ~ .nav {
    display: block;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger { /*we are hiding the main line of burger */
    background: transparent;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger::before {
    transform: rotate(-45deg);
    top: 0;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 780px) {
    .nav-toggle__label {
        display: none;
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
    }
    .nav {
        all: unset; /* delete previous css styles on .nav */
    }
    .nav__items {
        display: flex;
        margin: auto 0;
    }
}

/* ____________________________________________ Section title */
.section__info {
    display: grid;
    gap: 5px;
}
.section__title {
    font-size: 26px;
}
.section__subtitle {
    font-size: 20px;
}
@media (min-width: 780px) {
    .section__title {
        font-size: 30px;
    }
}
.section__title_campus {
    text-align: center;
    padding: 0 0 15px;
}

/* ____________________________________________ Introduction */
.intro {
    padding: 100px 0 0 0;
    
}
.intro__images {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 5px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.image{
    max-height: 380px;
    width: 380px;
    object-fit: cover;
    border-radius: 5px;
}

/* ____________________________________________ Points */
.points__inner {
    margin: 50px 0;
}
.points__title {
    font-size: 22px;
    font-weight: 700;
}
.points__items {
    padding-top: 15px;
    width: 100%;    
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.points__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
.points__img {
    box-shadow: 5px 5px var(--oppositeback);
    margin-bottom: 12px;
    width: 100%;
}

@media screen and (min-width: 580px) {
    .points__inner {
        margin: 30px auto;
    }
}

@media screen and (min-width: 780px) {
    .points__items {
        grid-template-columns: 1fr 1fr;
    }
    .points__item {
        gap: 6px;
    }
}

@media screen and (min-width: 910px) {
    .points__items {
        grid-template-columns: repeat(4, 1fr);
    }
    .points__item {
        gap: 8px;
    }
}

/* ____________________________________________ Footer */
.footer {
    background-color: #333;
    color: var(--footerwhite);
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.footer__block {
    display: grid;
    gap: 5px;
}
.footer__link{
    color: var(--footerwhite);
}
.footer__link:hover {
    color: #0FFF95;
}
.social {
    margin-top: 5px;
}
.social__item {
    width: 25px;
    height: 25px;
}


/* I guess I'll delete commented part, if necessary, we will take if from the github later */

/*__________________________________________________________________ Map*/
.map__wrapper {
    display: block;
    object-fit: fill;
    position: relative;
    max-width: auto;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.map__img {
    display: none;
}
.map__hotspot {
    display: block;
    background: var(--oppositeback);
    border: 2px solid var(--white);
    -webkit-transition: background .3s linear;
            transition: background .3s linear;
    text-decoration: none;
    color: #ffffff;
}
/*Hotspots are points shown on the map*/
#hotspot1 { /*Main building hotspot*/
  left: 51%;
  top: 48%; 
}
#hotspot2 { /*Gym hotspot*/
  left: 48.5%;
  top: 26%;
}
#hotspot3 { /*Dorms hotspot*/
  left: 33%;
  top: 40%;
}
#hotspot4 { /*Library hotspot*/
    left: 63.5%;
    top: 55%;
}
#hotspot5 { /*Lecture halls hotspot*/
    left: 48%;
    top: 69%; /*nice*/
}
#hotspot6 { /*Labs hotspot*/
    left: 33%;
    top: 49%;
}
#hotspot7 { /*Canteen hotspot*/
    left: 34%;
    top: 65%;
}

/*popus show after clicking on hotspots*/
.popup__inner {
  padding: 20px 15px;
}
.map__hotspot:focus .popup {
  display: inline-block;
}
.popup__title {
  margin: 0;
}
.popup__text {
  margin: 0;
  height: 0;
  overflow: hidden;
}
.popup__text br {
  display: none;
}
.map__hotspot:focus .popup__text {
  height: auto;
}

/*map is not displayed on mobile, there is a list of facilities instead*/
@media screen and (min-width: 768px) { 
    .map__inner {
      position: relative;
      height: 0;
      padding-bottom: 53%;
    }
    .map__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        width: 99%;
        box-shadow: 5px 5px var(--oppositeback);
    }
    .map__hotspot {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
    .map__hotspot:hover,
    .map__hotspot:focus {
      background: rgb(19, 19, 19);
    }
    .popup {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.5s ease-in-out;
              transition: opacity 0.5s ease-in-out;
      position: absolute;
      box-shadow: 5px 5px rgb(19, 19, 19);
    }
    .popup__inner {
      display: inline-block;
      white-space: nowrap;
      background: var(--oppositeback);
      border-radius: 4px;
    }
    .map__hotspot:focus .popup {
      opacity: 1;
      width: auto;
      height: auto;
    }
    .popup--left-top {
      right: 20px;
      bottom: 0px;
    }
    .popup--right-top {
      left: 20px;
      bottom: -1px;
    }
    .popup--right-bottom {
      left: 20px;
      top: -1px;
    }
    .popup__text {
      height: auto;
    }
    .popup__text br {
      display: block;
    }
    .description__content p {
      font-size: 30px;
    }
  }
  