
/* ____________________________________________ Section title */
.section__info {
    gap: 5px;
    display: flex;
}
.section__items {
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 2px dashed #0040ff;
    padding-right: 25px;
    padding-left: 15px;
}
li {
    margin: 10px 0px;
}
.section__info_opportunities {
    gap: 5px;
    display: flex;
}
.section__title {
    font-size: 30px;
    width: 70%;
    padding-left: 10px;
    padding-top: 20px;
}
.section__title_1 {
    font-size: 30px;
    border-top: 3px solid #0040ff;
    padding: 35px 0 50px;
    margin-top: -1px;
}
.section__title_about {
    width: 70%;
}
.underline {
    border-bottom: 2px solid var(--black);
}
.section__subtitle {
    font-size: 20px;
}
@media (max-width: 780px) {
    .section__title {
        font-size: 14px;
        right: 5px;
        position: relative;
    }
    .section__subtitle {
        font-size: 20px;
    }
    li {
        font-size: 13px;
    }
    ul {
        padding-right: 5px;
    }
}


/* ____________________________________________ Education */
.education {
    margin: 150px 0 50px;
}
.education__inner {
    margin: 30px 0;
}
.education__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.education__text {
    line-height: 1.8;
}
.education__img {
    border-radius: 5px;
}
.education_images {
    display: grid;
    grid-template-rows: repeat(4, 150px);
    border: 4px solid #0040ff;
    width: 450px;
}
#education_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.education__img_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}
.education__img_2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}
.education__img_3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}
.education__img_4 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}
@media (max-width: 780px) {
    .education_images {
        width: fit-content;
        height: 608px;
    }
    .education {
        position: relative;
        top: -55px;
    }
    .education__text {
        font-size: 11px;
        line-height: 1.5;
    }
}
/* ____________________________________________ Opportunities */
.opportunities {
    border-top: 1px solid var(--footerwhite);
    margin-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}
.opportunities__inner {
    display: grid;
    gap: 50px;
}
.opportunities__subtitle {
    font-weight: 700;
    margin: 15px 0;
    border-right: 2px solid #0040ff;
    width: 125px;
}
.opportunities__item {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    border: 0.1px solid rgb(228, 228, 228);
    box-shadow: 5px 5px #0040ff;
    text-align: center;
}
.opportunities__title {
    padding-right: 15px;
    width: 83.33333%;
    line-height: 1.6;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (max-width: 780px) {
    .opportunities__title {
        font-size: 10px;
    }
    .opportunities__inner {
        width: 500px;
        position: relative;
        left: -20px;
    }
    .opportunities__item {
        width: 350px;
    }
    .opportunities__title {
        font-size: 11px;
    }
}

/* ------------------- We don't need it now ------------------------*/
/* We need it in order to attach the .footer to the end of the page */
/* .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* 
* {
    margin: 0;
    padding: 0;
    list-style: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.header {
    border-bottom: .1px solid rgb(168, 168, 168);
}

.header__logo {
    font-family: 'Lilita One', cursive;
    font-size: 50px;
}

.header__inner {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__items {
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}

.nav__items li {
    list-style-type: none;
}

.footer {
    border-top: 1px solid #989898;
    background-color: #9999ff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.social__item {
    width: 45px;
    height: 45px;
}

.container_education {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.intro_education {
    background-color: bisque;
    padding: 25px 0 25px 0;
}

.education_inner {
    text-align: center;
    display: flex;
    justify-content: center;
}

.education_image {
    width: 325px; 
    height: 265px;
    padding-top: 10px;
    left: 25px;
    margin: 10px;
    display: block;
}

.edu-item {
    margin-right: 20px;
}

.edu-item h3 {
    margin: 0;
    text-transform: uppercase;
  }

.edu-item p {
    margin: 6px 0;
    font-size: 1vw;
}

#left {
    border-right: 3px solid #989898;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 4px;
}

#right {
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 4px;
}

.education_title {
    font-size: 50px;
}

.container_education2 {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.intro_education2 {
    padding: 50px 10px 50px 10px;
} /*