:root {
    --black: rgb(19, 19, 19);
    --white: rgb(255, 255, 255);
    --gray: rgb(104, 104, 104);
    --background: #0040ff;
    --oppositeback: #f0006a;
    --footerwhite: rgb(228, 228, 228);
}

/* ____________________________________________ Container */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
@media (max-width: 1300px) {
    .container {
        max-width: 991px;
    }
}
@media (max-width: 1100px) {
    .container {
        max-width: 900px;
    }
}
@media (max-width: 910px) {
    .container {
        padding: 0 30px;
    }
}


/* ____________________________________________ Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--background);
}
.header__logo {
    font-family: 'Lilita One', cursive;
    font-size: 50px;
}
.header__inner {
    margin: 12px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: right;
    background-color: var(--background);
    width: 100%;
}
.nav__items {
    text-transform: uppercase;
    display: grid;
    gap: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.nav__item {
    display: inline-block;
    transition: .3s linear;
}
.nav__item_1 {
    border-bottom: 3.5px solid currentColor;
    display: inline-block;
    line-height: 1.50;
}
.nav__item::after {
    content: "";
    display: block;
    margin-top: 3px;
    width: 0%;
    height: 3px;
    background-color: var(--black);

    transition: .3s linear;
}
.nav__item:hover::after {
    width: 100%;
}
.header__nav {
    width: auto;
    display: grid;
    grid-template-columns: 85% 15%;
    gap: 50px;
}

/* ____________________________________________ Search button */
.search-btn__img {
    width: 23px;
    padding-top: 14px;
    padding-left: 2px;
}
.search-block {
    display: none;
    position: absolute;
    top: 100%; /* it will be after our .header block */
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: var(--background);
    border-top: 1px solid #0ebe72;
    z-index: 999;
}
.search-block__field {
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--white);
}
.search-block__btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--oppositeback);
    border: 1px solid var(--background);

    transition: all 0.3s linear;
}
.search-block__btn:hover {
    background-color: var(--white);
    border: 1px solid var(--background);
}

#search-btn__toggle {
    display: none;
}
#search-btn__toggle:checked ~ .search-block {
    display: block;
}
@media (max-width: 780px) {
    .search-block {
        height: 100vh;
    }
    .search-block__btn {
        margin-top: 10px;
        display: inline-block;
    }
}


/* ____________________________________________ Menu/Burger */
.nav__burger {
    background-color: var(--black);
    display: block;
    height: 3px;
    width: 25px;
    position: relative;
}
.nav__burger::after,
.nav__burger::before {
    content: "";
    background-color: var(--black);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}
.nav__burger::after {
    top: 5px;
}
.nav__burger::before {
    top: -5px;
}
.nav-toggle__label {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    border: 1px black;
    align-items: center;
    margin-right: 30px;
}

#nav-toggle {
    display: none;
}
#nav-toggle:checked ~ .nav {
    display: block;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger { /*we are hiding the main line of burger */
    background: transparent;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger::before {
    transform: rotate(-45deg);
    top: 0;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 780px) {
    .nav-toggle__label {
        display: none;
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
    }
    .nav {
        all: unset; /* delete previous css styles on .nav */
    }
    .nav__items {
        display: flex;
        margin: auto 0;
    }
}

/* ____________________________________________ Footer */
.footer {
    background-color: #333;
    color: var(--footerwhite);
    margin-top: auto;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.footer__block {
    display: grid;
    gap: 5px;
}
.footer__link{
    color: var(--footerwhite);
}
.footer__link:hover {
    color: #0FFF95;
}
.social {
    margin-top: 5px;
}
.social__item {
    width: 25px;
    height: 25px;
}

/* ____________________________________________ Section title */
.section__info {
    gap: 5px;
    display: flex;
}
ul {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px 0px 0px 0px;
    text-align: left;
    padding-right: 35px;
    border-right: 2px dashed #0040ff;
}
li {
    margin: 10px 0px;
}
.section__info_opportunities {
    gap: 5px;
    display: flex;
}
.section__title {
    font-size: 30px;
    width: 70%;
    padding-left: 10px;
    padding-top: 20px;
}
.section__title_1 {
    font-size: 30px;
    border-top: 3px solid #0040ff;
    padding: 35px 0 50px;
    margin-top: -1px;
}
.section__title_about {
    width: 70%;
}
.underline {
    border-bottom: 2px solid var(--black);
}
.section__subtitle {
    font-size: 20px;
}
@media (max-width: 780px) {
    .section__title {
        font-size: 26px;
    }
    .section__subtitle {
        font-size: 20px;
    }
}


/* ____________________________________________ Education */
.education {
    margin: 150px 0 50px;
}
.education__inner {
    margin: 30px 0;
}
.education__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.education__text {
    line-height: 1.8;
}
.education__img {
    border-radius: 5px;
}
.education_images {
    display: grid;
    grid-template-rows: repeat(4, 115px);
    border: 4px solid #0040ff;
    width: 450px;
}
#education_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.education__img_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}
.education__img_2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
}
.education__img_3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}
.education__img_4 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}


/* ____________________________________________ Opportunities */
.opportunities {
    border-top: 1px solid var(--footerwhite);
    margin-top: 60px;
    padding-bottom: 60px;
}
.opportunities__inner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}
.opportunities__subtitle {
    font-weight: 700;
    margin: 15px 0;
    border-right: 2px solid #0040ff;
    width: 125px;
}
.opportunities__item {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    border: 0.1px solid rgb(228, 228, 228);
    box-shadow: 5px 5px #0040ff;
    text-align: center;
}
.opportunities__title {
    padding-right: 15px;
    width: 83.33333%;
    line-height: 1.6;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ------------------- We don't need it now ------------------------*/
/* We need it in order to attach the .footer to the end of the page */
/* .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* 
* {
    margin: 0;
    padding: 0;
    list-style: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.header {
    border-bottom: .1px solid rgb(168, 168, 168);
}

.header__logo {
    font-family: 'Lilita One', cursive;
    font-size: 50px;
}

.header__inner {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__items {
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}

.nav__items li {
    list-style-type: none;
}

.footer {
    border-top: 1px solid #989898;
    background-color: #9999ff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.social__item {
    width: 45px;
    height: 45px;
}

.container_education {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.intro_education {
    background-color: bisque;
    padding: 25px 0 25px 0;
}

.education_inner {
    text-align: center;
    display: flex;
    justify-content: center;
}

.education_image {
    width: 325px; 
    height: 265px;
    padding-top: 10px;
    left: 25px;
    margin: 10px;
    display: block;
}

.edu-item {
    margin-right: 20px;
}

.edu-item h3 {
    margin: 0;
    text-transform: uppercase;
  }

.edu-item p {
    margin: 6px 0;
    font-size: 1vw;
}

#left {
    border-right: 3px solid #989898;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 4px;
}

#right {
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 4px;
}

.education_title {
    font-size: 50px;
}

.container_education2 {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.intro_education2 {
    padding: 50px 10px 50px 10px;
} */