* {
    margin: 0;
    padding: 0;
    list-style: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #333;
}

.header {
    border-bottom: .1px solid rgb(168, 168, 168);
}

.header__logo {
    font-family: 'Lilita One', cursive;
    font-size: 50px;
}

.header__inner {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__items {
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}

.nav__items li {
    list-style-type: none;
}

.footer {
    border-top: 1px solid #989898;
    background-color: #9999ff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.social__item {
    width: 45px;
    height: 45px;
}

.container_fac {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 100px 0 100px 0;
}

.container_fac h2 {
    text-align: top;
}

.intro_fac {
    background-color: bisque;
    padding: 50px 0 50px 0;
}

.title_fac {
    font-size: 50px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

#fac_img {
    width: 200px;
    float: left;
    padding: 10px
}

#fac_text {
    margin-left: 150px;
    text-align: center;
}