


/* ____________________________________________ Section title */
.section__info {
    display: grid;
    gap: 5px;
    padding-top: 100px;
    padding-left: 25px;
}
.section__title {
    font-size: 30px;
    font-style: italic;
    position: relative;
    left: -25px;
}
.section__title_about {
    width: 70%;
}
.underline {
    border-bottom: 2px solid var(--black);
}
.section__subtitle {
    font-size: 20px;
    padding-top: 25px;
    padding-right: 250px;
}
h4 {
    font-size: 23px;
}
@media (max-width: 780px) {
    .section__title {
        font-size: 20px;
        position: relative;
        left: -35px;
        top: -35px;
    }
    .section__subtitle {
        font-size: 17px;
        width: 500px;
        position: relative;
        left: -15px;
        line-height: 25px;
        top: -20px;
    }
    body .facul__items {
        position: relative;
        top: -35px;
        display: block;
    }
    body .facul__list_subtitle {
        position: relative;
        line-height: 20px;
        margin-left: -175px;
        text-align: left;
    }
    body .facul__img {
        width: 150px;
    }
    body .facul__list__inner {
        flex-wrap: wrap;
        padding: 0 4px;
    }
    body .facul__item {
        flex: 50%;
        padding: 0 4px;
    }
}


/* ____________________________________________ Faculties */
.facul {
    border-top: 1px solid var(--footerwhite);
    margin-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}


/* ____________________________________________ Faculties line */
.facul__line {
    border-top: 1px solid var(--footerwhite);
    margin-top: 60px;
    padding-bottom: 60px;
    padding-bottom: 1px;
}
.section__line {
    font-size: 20px;
    border-top: 3px solid #EC8C19;
    padding: 35px 0 7px;
    margin-top: -1px;
    display: flex;
}
.facul__line {
    font-weight: 700;
    margin: 15px 0;
}


/* ____________________________________________ Faculties info */
.facul__list__inner {
    margin: 50px auto;
}
.facul__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}
.facul__img {
    box-shadow: 5px 5px #EC8C19;
    margin-bottom: 12px;
    width: 200%;
}
.facul__item {
    padding-left: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.facul__list_subtitle {
    font-size: 17px;
}
.facul__more {
    background-color: var(--background);
    border: 1px solid var(--background);
    padding: 15px 0;
    width: calc(100%/4);
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    margin-left: 450px;
    margin-top: 25px;

    transition: all .5s linear;
}
.facul__more:hover {
    background-color: var(--white);
    border: 1px solid var(--black);
}
@media (max-width: 780px) {
    body .facul__items {
        position: relative;
        top: -35px;
        display: block;
    }
    body .facul__list_subtitle {
        position: relative;
        line-height: 20px;
        margin-left: -175px;
        text-align: left;
    }
    body .facul__img {
        width: 150px;
    }
    body .facul__list__inner {
        flex-wrap: wrap;
        padding: 0 4px;
    }
    body .facul__item {
        flex: 50%;
        padding: 0 4px;
    }
    .facul__more {
        width: calc(100%/2);
        position: relative;
        left: -300px;
    }
}

/* ____________________________________________ Section title */
.dev__comment {
    text-align: center;
    margin: 50vh;
    font-size: 30px;
}

