:root {
    --black: rgb(19, 19, 19);
    --white: rgb(255, 255, 255);
    --gray: rgb(104, 104, 104);
    --background: #0FFF95;
    --opposite-background: #f0006a;
    --footer-white: rgb(228, 228, 228);

    --fontsize-50: 50px;
    --fontsize-40: 40px;
    --fontsize-26: 26px;
    --fontsize-22: 22px;
    --fontsize-18: 18px;
}

/* ____________________________________________ Container */
.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

@media (min-width: 769px) {
    .container {
        max-width: 769px;
    }
}
@media (min-width: 1025px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1201px) {
    .container {
        max-width: 1200px;
    }
}

/* ____________________________________________ Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--background);
}
.header__logo {
    font-family: 'Lilita One', cursive;
    font-size: var(--fontsize-50);
}
.header__inner {
    margin: 12px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: right;
    background-color: var(--background);
    width: 100%;
}
.nav__items {
    text-transform: uppercase;
    display: grid;
    gap: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.nav__item {
    display: inline-block;
    transition: .3s linear;
}
.nav__item::after {
    content: "";
    display: block;
    margin-top: 3px;
    width: 0%;
    height: 3px;
    background-color: var(--black);

    transition: .3s linear;
}
.nav__item:hover::after {
    width: 100%;
}
.header__nav {
    width: auto;
    display: grid;
    grid-template-columns: 85% 15%;
    gap: 50px;
}

/* ____________________________________________ Search button */
.search-btn__img {
    width: 20px;
}
.search-block {
    display: none;
    position: absolute;
    top: 100%; /* it will be after our .header block */
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 10px;
    text-align: center;
    background-color: var(--background);
    border-top: 1px solid #0ebe72;
    z-index: 999;
}
.search-block__field {
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
    background-color: var(--white);
    display: block;
    text-overflow: ellipsis;
}
.search-block__btn {
    display: block;
    margin-top: 5px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--opposite-background);
    border: 1px solid var(--background);

    transition: all 0.3s linear;
}
.search-block__btn:hover {
    background-color: var(--white);
    border: 1px solid var(--background);
}

#search-btn__toggle {
    display: none;
}
#search-btn__toggle:checked ~ .search-block {
    display: block;
}

@media (min-width: 481px) {
    .search-block {
        grid-template-columns: 1fr 1fr;
        height: 40vh;
    }
    .search-block__btn {
        display: inline-block;
        padding: 10px 25px;
    }
}

/* ____________________________________________ Menu/Burger */
.nav__burger {
    background-color: var(--black);
    display: block;
    height: 3px;
    width: 25px;
    position: relative;
}
.nav__burger::after,
.nav__burger::before {
    content: "";
    background-color: var(--black);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}
.nav__burger::after {
    top: 5px;
}
.nav__burger::before {
    top: -5px;
}
.nav-toggle__label {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    border: 1px black;
    align-items: center;
    margin-right: 30px;
}

#nav-toggle {
    display: none;
}
#nav-toggle:checked ~ .nav {
    display: block;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger { /*we are hiding the main line of burger */
    background: transparent;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger::before {
    transform: rotate(-45deg);
    top: 0;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 769px) {
    .nav-toggle__label {
        display: none;
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
    }
    .nav {
        all: unset;
    }
    .nav__items {
        display: flex;
        margin: auto 0;
    }
}

/* ____________________________________________ Section title */
.section__info {
    display: grid;
    gap: 5px;
}
.section__title {
    font-size: var(--fontsize-26);
}

/* ____________________________________________ Common image style */
.img {
    border-radius: 4px;
}

/* ____________________________________________ Introduction */
.intro {
    padding: 150px 0 50px;
    border-bottom: 1px solid var(--footer-white);
    background: url(../images/students/students3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: var(--footer-white);
}
.intro__container {
    z-index: 1;
}
.intro__overlay {
    position: absolute;
    opacity: .5;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    top: 0;
    left: 0;
}
.intro__inner {
    position: relative;
    z-index: 999;
    display: grid;
    gap: 20px;
}
.intro__title {
    font-size: var(--fontsize-40);
}
.intro__text {
    font-size: var(--fontsize-18);
}
.btn {
    text-align: center;
    background-color: var(--background);
    border: 1px solid var(--background);
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;

    transition: all .5s linear;
}
.btn:hover {
    background-color: var(--white);
    border: 1px solid var(--black);
}
@media (min-width: 481px) {
    .btn {
        width: 50%;
    }
    .intro {
        background-position: unset;
    }
}
@media (min-width: 1025px) {
    .btn {
        width: 25%;
    }
    .intro__inner {
        padding: 20vh 0 20vh;
        width: 70%;
    }
}


/* ____________________________________________ News */
.news {
    padding: 25px 0 60px;
    border-bottom: 1px solid var(--footer-white);
}
.news__inner {
    margin-top: 25px;
    display: flex;
    gap: 10px;
}
.news__main {
    display: none;
    width: 50%;
    height: 100%;
    padding: 10px;
    border-left: 3px solid var(--background);
    border-top: 2px solid var(--background);
    /* box-shadow: 5px 5px #0FFF95; */
}
.news__items {
    width: 100%;
    display: grid;
    gap: 8px;
}
.news__item{
    display: grid;
    gap: 5px;
    padding: 10px;
    border-left: 3px solid var(--background);
    border-top: 2px solid var(--background);
    /* box-shadow: 5px 5px #0FFF95; */
}
.news__title {
    font-weight: 700;
    font-size: 18px;
}
.news__title:hover {
    text-decoration-line: underline;
}
.news__item_four {
    display: none;
}
.news__btn {
    display: block;
    margin-top: 20px;
    float: right;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px solid var(--black);
}
.news__btn:hover {
    color: var(--background);
    border-bottom: 1px solid var(--background);
}
.news__img {
    display: none;
}
.news__item:last-child {
    display: none;
}
@media (min-width: 769px) {
    .news__main {
        display: block;
        width: 50%;
    }
    .news__items {
        width: 50%;
    }
    .news__img {
        display: block;
        width: 100%;
    }
}
@media (min-width: 1025px) {
    .news__item:last-child {
        display: block;
    }
}

/* ____________________________________________ Opportunities */
.oppor {
    padding: 25px 0;
    border-bottom: 1px solid var(--footer-white);
}
.oppor__inner {
    margin-top: 25px;
}
.oppor__title {
    font-size: var(--fontsize-16);
    font-weight: 700;
}
.oppor__items {
    width: 100%;
    display: grid;
    gap: 20px;
}
.oppor__item {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}
.oppor__img {
    box-shadow: 5px 5px var(--background);
    margin-bottom: 12px;
    width: 100%;
}

.oppor__more a {
    color: #27c200;
    cursor: pointer;

    transition: .5s linear;
}
.oppor__more a:hover {
    color: var(--black);
}

@media (min-width: 550px) {
    .oppor__items {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1201px) {
    .oppor__items {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ____________________________________________ Stats */
.stats {
    padding: 25px 0;
    border-bottom: 1px solid var(--footer-white);
    position: relative;
    overflow: hidden;
    background-color: rgba(10, 47, 75, 0.7);
    color: var(--footer-white);
}
.stats__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.stats__inner {
    margin-top: 30px;
    display: grid;
    gap: 50px;
}
.stats__items {
    display: grid;
    gap: 25px;
}
.stats__item {
    text-align: center;
}
.stats__title, .stats__info {
    font-size: var(--fontsize-22);
}
.stats__img {
    width: 60px;
    height: 60px;
}
@media (min-width: 481px) {
    .stats__items {
        grid-template-columns: 1fr 1fr;
    }
    .stats__title, .stats__info {
        font-size: var(--fontsize-26);
    }
}
@media (min-width: 769px) {
    .stats__items {
        grid-template-columns: repeat(3, 1fr);
    }
    .stats__inner {
        margin: 80px 0 50px;
    }
}

/* ____________________________________________ Students */
.students {
    padding: 25px 0;
    border-bottom: 1px solid var(--footer-white);
}
.students__items {
    margin-top: 25px;
    display: grid;
    gap: 5px;
}
.students__item {
    position: relative;
    z-index: 1;
    width: 100%;
}
.students__img {
    z-index: 2;
    width: 100%;
}
.students__content {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: rgb(240, 214, 183, 0.6);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: all 0.4s linear;
}
.students__title {
    font-size: var(--fontsize-26);
}
.students__subtitle {
    font-size: var(--fontsize-22);
}
.students__content:hover {
    opacity: 1;
}

@media (min-width: 550px) {
    .students__items {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1025px) {
    .students__items {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid__span_one {
        grid-row: span 2;
        grid-column: span 2;
    }
    .grid__span_one img {
        height: 100%;
    }
}
@media (min-width: 1201px) {
    .students__items {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid__span_one, .grid__span_two {
        grid-row: span 2;
        grid-column: span 2;
    }
    .grid__span_one img, .grid__span_two img {
        height: 100%;
    }
}


/* ____________________________________________ Footer */
.footer {
    background-color: #333;
    color: var(--footer-white);
    padding: 25px 0;
}   
.footer__inner {
    display: grid;    
    justify-content: space-between;
    gap: 40px;
}
.footer__block {
    display: grid;
    gap: 5px;
}
.footer__link{
    color: var(--footer-white);
}
.footer__link:hover {
    color: #0FFF95;
}
.social {
    display: flex;
    gap: 5px;
}
.social__item {
    width: 40px;
    height: 40px;
}

@media (min-width: 769px) {
    .footer__inner {
        grid-template-columns: 1fr 1fr;
    }
    .made-by {
        text-align: right;
    }
}