:root {
    --black: rgb(19, 19, 19);
    --white: rgb(255, 255, 255);
    --gray: rgb(104, 104, 104);
    --backGround: #0FFF95;
    --oppositeBack: #f0006a;
    --footerWhite: rgb(228, 228, 228);

    --logoFontSize: 50px;
    --sectionFontSize: 25px;
    --bigFontSize: 40px;
    --titleFontSize: 22px;
    --subFontSize: 18px;
    --minFontSize: 16px;
}

/* ____________________________________________ Container */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}



/* ____________________________________________ Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--backGround);
}
.header__logo {
    font-family: 'Lilita One', cursive;
    font-size: var(--logoFontSize);
}
.header__inner {
    margin: 12px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: right;
    background-color: var(--backGround);
    width: 100%;
}
.nav__items {
    text-transform: uppercase;
    display: grid;
    gap: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.nav__item {
    display: inline-block;
    transition: .3s linear;
}
.nav__item::after {
    content: "";
    display: block;
    margin-top: 3px;
    width: 0%;
    height: 3px;
    background-color: var(--black);

    transition: .3s linear;
}
.nav__item:hover::after {
    width: 100%;
}
.header__nav {
    width: auto;
    display: grid;
    grid-template-columns: 85% 15%;
    gap: 50px;
}

/* ____________________________________________ Search button */
.search-btn__img {
    width: 20px;
}
.search-block {
    display: none;
    position: absolute;
    top: 100%; /* it will be after our .header block */
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 10px;
    text-align: center;
    background-color: var(--backGround);
    border-top: 1px solid #0ebe72;
    z-index: 999;
}
.search-block__field {
    padding: 10px 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
    background-color: var(--white);
    display: block;
    text-overflow: ellipsis;
}
.search-block__btn {
    display: block;
    margin-top: 5px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: var(--oppositeBack);
    border: 1px solid var(--backGround);

    transition: all 0.3s linear;
}
.search-block__btn:hover {
    background-color: var(--white);
    border: 1px solid var(--backGround);
}

#search-btn__toggle {
    display: none;
}
#search-btn__toggle:checked ~ .search-block {
    display: block;
}
/* @media (max-width: 780px) {
    .search-block {
        height: 100vh;
    }
    .search-block__btn {
        margin-top: 10px;
        display: inline-block;
    }
} */


/* ____________________________________________ Menu/Burger */
.nav__burger {
    background-color: var(--black);
    display: block;
    height: 3px;
    width: 25px;
    position: relative;
}
.nav__burger::after,
.nav__burger::before {
    content: "";
    background-color: var(--black);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}
.nav__burger::after {
    top: 5px;
}
.nav__burger::before {
    top: -5px;
}
.nav-toggle__label {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 100%;
    border: 1px black;
    align-items: center;
    margin-right: 30px;
}

#nav-toggle {
    display: none;
}
#nav-toggle:checked ~ .nav {
    display: block;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger { /*we are hiding the main line of burger */
    background: transparent;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger::before {
    transform: rotate(-45deg);
    top: 0;
}
#nav-toggle:checked ~ .nav-toggle__label .nav__burger::after {
    transform: rotate(45deg);
    top: 0;
}

/* @media (min-width: 780px) {
    .nav-toggle__label {
        display: none;
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
    }
    .nav {
        all: unset;
    }
    .nav__items {
        display: flex;
        margin: auto 0;
    }
} */

/* ____________________________________________ Section title */
.section__info {
    display: grid;
    gap: 5px;
}
.section__title {
    font-size: var(--sectionFontSize);
}

/* @media (max-width: 780px) {
    .section__title {
        font-size: 26px;
    }
    .section__subtitle {
        font-size: 20px;
    }
} */

/* ____________________________________________ Common image style */
.img {
    border-radius: 4px;
}

/* ____________________________________________ Introduction */
.intro {
    padding: 150px 0 50px;
    border-bottom: 1px solid var(--footerWhite);
}
.intro__inner {
    text-align: center;
    display: grid;
    gap: 20px;
    align-items: center;
}
.intro__title {
    font-size: var(--bigFontSize);
}
.intro__text {
    font-size: var(--subFontSize);
}
.btn {
    background-color: var(--backGround);
    border: 1px solid var(--backGround);
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;

    transition: all .5s linear;
}
.btn:hover {
    background-color: var(--white);
    border: 1px solid var(--black);
}
/* @media (max-width: 780px) {
    .btn {
        width: calc(100%/2);
    }
} */




/* ____________________________________________ News */
.news {
    padding: 25px 0;
    border-bottom: 1px solid var(--footerWhite);
}
.news__inner {
    margin-top: 25px;
}
.news__items {
    display: grid;
    gap: 8px;
}
.news__item {
    padding: 10px;
    border: 0.1px solid rgb(228, 228, 228);
    box-shadow: 5px 5px #0FFF95;
}
.news__title {
    font-weight: 700;
    font-size: 18px;
}
.news__title:hover {
    text-decoration-line: underline;
}
.news__item_four {
    display: none;
}
.news__btn {
    margin: 10px auto 0;
    cursor: pointer;
    font-size: var(--subFontSize);
    border-bottom: 1px solid var(--black);
}
.news__btn:hover {
    color: var(--backGround);
    border-bottom: 1px solid var(--backGround);
}


/* @media (max-width: 780px) {
    .news__items {
        grid-template-columns: 1fr;
    }
    .news__item .news__title {
        font-size: 16px;
    }
    .news__inner {
        margin: 15px 0 30px;
    }
} */
/* ____________________________________________ Opportunities */
.oppor {
    padding: 25px 0;
    border-bottom: 1px solid var(--footerWhite);
}
.oppor__inner {
    margin-top: 25px;
}
.oppor__title {
    font-size: var(--subFontSize);
    font-weight: 700;
}
.oppor__items {
    width: 100%;
    display: grid;
    gap: 20px;
}
.oppor__item {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}
.oppor__img {
    box-shadow: 5px 5px var(--backGround);
    margin-bottom: 12px;
    width: 100%;
}

.oppor__more a {
    color: #27c200;
    cursor: pointer;

    transition: .5s linear;
}
.oppor__more a:hover {
    color: var(--black);
}
/* 
@media (max-width: 910px) {
    .oppor__items {
        grid-template-columns: 1fr 1fr;
    }
    .oppor__item {
        gap: 6px;
    }
}
@media (max-width: 780px) {
    .oppor__inner {
        margin: 30px auto;
    }
}
@media (max-width: 580px) {
    .oppor__items {
        grid-template-columns: 1fr;
    }
    .oppor__item {
        gap: 4px;
    }
} */

/* ____________________________________________ Stats */
.stats {
    padding: 25px 0;
    border-bottom: 1px solid var(--footerWhite);
}
.stats__inner {
    margin-top: 30px;
    display: grid;
    gap: 50px;
}
.stats__items {
    display: grid;
    gap: 25px;
}
.stats__item {
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
}
.stats__title {
    font-size: 20px;
}
.stats__info {
    font-size: var(--titleFontSize);
}
.stats__img {
    width: 50px;
    height: 50px;
}
/* @media (max-width: 880px) {
    .stats__items {
        grid-template-columns: 1fr 1fr;
    }
    .stats__title {
        font-size: 24px;
    }
    .stats__info {
        font-size: 22px;
    }
}
@media (max-width: 780px) {
    .stats {
        padding: 30px 0;
    }
}   
@media (max-width: 580px) {
    .stats__items {
        grid-template-columns: 1fr;
    }
    .stats__title {
        font-size: 22px;
    }
    .stats__info {
        font-size: 18px;
    }
    
} */

/* ____________________________________________ Students */
.students {
    padding: 25px 0;
    border-bottom: 1px solid var(--footerWhite);
}
.students__items {
    margin-top: 25px;
    display: grid;
    gap: 10px;
}
.students__item {
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden; /* hide everything out of block */
}
.students__img {
    position: absolute;
    z-index: 1;

    width: 350px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.students__content {
    width: 100%;
    height: 100%;

    z-index: 2;
    position: absolute;
    background-color: rgb(228, 228, 228, 0.8);
    color: white;
    top: 0;
    left: 0;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    transition: opacity .4s linear;
}
.students__content:hover {
    opacity: 1;
}
.students__title {
    font-size: var(--titleFontSize);
}

/* ____________________________________________ Grid for images */
/* .grid__span_big { 
    grid-column: span 2;
    grid-row: span 2;
    height: 100%;
}
.grid__span_average { 
    grid-column: span 2;
}
.grid__span_big .students__img {
    width: 700px;
    height: 520px;
}
.grid__span_average .students__img {
    width: 600px;
    height: 420px;
} */

/* @media (max-width: 780px) {
    .students__items {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .grid__span_big {
        grid-row: span 1;
    }
    .grid__span_average .students__img {
        width: 800px;
        height: 600px;
    }
    .students__items {
        margin: 30px 0;
    }    
} */

/* ____________________________________________ Footer */
.footer {
    background-color: #333;
    color: var(--footerWhite);
    padding: 25px 0;
}   
.footer__inner {
    display: grid;    
    justify-content: space-between;
    gap: 40px;
}
.footer__block {
    display: grid;
    gap: 5px;
}
.footer__link{
    color: var(--footerWhite);
}
.footer__link:hover {
    color: #0FFF95;
}
.social {
    display: flex;
    gap: 5px;
}
.social__item {
    width: 40px;
    height: 40px;
}