:root {
    --black: #333;
    --white: rgb(197, 197, 197);
}



/* ____________________________________________container */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/* ____________________________________________header */
.header {
    border-bottom: .1px solid rgb(168, 168, 168);
}
.header__logo {
    font-family: 'Lilita One', cursive;
    font-size: 50px;
}
.header__inner {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__items {
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}
.nav__items li {
    list-style-type: none;
}
/* ____________________________________________header fixed position */
.header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: bisque;
}

/* ____________________________________________menu aka responsive-nav */
.menu {
    display: none;
}
.menu__item {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #333;
    font-size: 0px;

    position: relative;
}
.menu__item::before,
.menu__item::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #333;

        position: absolute;
        left: 0;
    }
.menu__item::before {
        top: -8px;
    }
.menu__item::after {
        top: 8px;
    }


@media (max-width: 675px) {
    .nav__items {
        display: grid;
        
    }
    .menu {
        display: block;
    }

    .nav {
        display: none;
    }

}


/* ____________________________________________header */

.intro {
    background-color: bisque;
    padding: 250px 0 150px 0;
}
.intro__inner {
    text-align: center;
}
.intro__title {
    font-size: 50px;
}
/* ____________________________________________section title */
.section__title {
    font-size: 30px;
}

/* ____________________________________________news */
.news {
    padding: 50px 0;
}
.news__inner {
    display: grid;
    gap: 30px;
}
.news__secondary {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.news__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.news__title {
    font-weight: 700;
    font-size: 18px;
}
.news__img {
    width: 100%;
}

/* ____________________________________________opportunities */
.oppor {
    padding: 50px 0 100px;
}
.oppor__inner {
    margin: 0 auto;
    display: grid;
    gap: 50px;
}
.oppor__title {
    font-size: 30px;
    font-weight: 700;
}
.oppor__subtitle {
    font-size: 20px;
}
.oppor__items {
    display: flex;
    justify-content: space-between;
}
.oppor__item {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* ____________________________________________students */
.students {
    padding: 100px 0;
    background-color: bisque;
}
.students__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.students__img {
    width: 100%;
}

/* ____________________________________________footer */
.footer {
    background-color: var(--black);
    color: var(--white);
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.social__item {
    width: 45px;
    height: 45px;
}






/*_____________________________________________education */
/* .container_education {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.intro_education {
    background-color: bisque;
    padding: 50px 0 50px 0;
}
.education_inner {
    text-align: center;
    display: flex;
    justify-content: center;
}
.education_image {
    width: 325px; 
    height: 265px;
    padding-top: 10px;
    left: 25px;
    margin: 10px;
    display: block;
}
.edu-item {
    margin-right: 20px;
}
.edu-item h3 {
    margin: 0;
    text-transform: uppercase;
  }
.edu-item p {
    margin: 6px 0;
    font-size: 1vw;
}
#left {
    border-right: 3px solid #989898;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 4px;
}
#right {
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 4px;
}
.education_title {
    font-size: 50px;
}
.container_education2 {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.intro_education2 {
    padding: 50px 10px 50px 10px;
} */