* {
    margin: 0;
    padding: 0;
    list-style: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #333;
}

/* ____________________________________________container */
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

/* ____________________________________________header */
.header {
    border-bottom: .1px solid rgb(168, 168, 168);
}
.header__logo {
    font-family: 'Lilita One', cursive;
    font-size: 50px;
}
.header__inner {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__items {
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}
.nav__items li {
    list-style-type: none;
}
/* ____________________________________________header */

.intro {
    background-color: bisque;
    padding: 100px 0 100px 0;
}
.intro__inner {
    text-align: center;
}
.intro__title {
    font-size: 50px;
}

/* ____________________________________________opportunities */
.oppor {
    padding: 100px 0;
}
.oppor__items {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.oppor__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* ____________________________________________students */
.students {
    padding: 100px 0;
    background-color: bisque;
}
.students__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.students__img {
    width: 100%;
}



/* ____________________________________________footer */
.footer {
    border-top: 1px solid #989898;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.social__item {
    width: 45px;
    height: 45px;
}

















#left {
    border-right: 3px solid #989898;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 4px;
}

#right {
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 4px;
}
